<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Pixellations</title>
	<meta name="author" content="Ninnie Chang">
	<meta name="author" content="Jonathan Liu">
	<meta name="author" content="Alexey Nigin">
	<meta name="author" content="Muhan Zhao">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="style/style.css">
	<link rel="stylesheet" href="https://unpkg.com/vue-swatches/dist/vue-swatches.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
	<script src="https://unpkg.com/vue-swatches@2.1.1"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</head>

<body>
	<canvas id="board"></canvas>
	<div id="zoom">
		<img src="images/ZoomIn.png" id="zoomIn" alt="Zoom in">
		<img src="images/ZoomOut.png" id="zoomOut" alt="Zoom out">
	</div>

	<div id="side-bar">
		<div id="ap-cont" class="cont">
			<div id="ap-percentage">{{Math.floor(100 * this.progress.fraction)}}%</div>
			<div id="ap-bar-back" role="progressbar" v-bind:class="{ 'aria-valuenow': Math.floor(100 * this.progress.fraction) }" aria-valuemin="0"
				aria-valuemax="100">
				<div id="ap-bar-front" v-bind:style="{ width: (100 * this.progress.fraction) + '%' }"></div>
			</div>
			<div id="ap">AP: {{AP}}</div>
		</div>
		<hr>

		<div id="pixel-cont" class="cont">
			<h1>Selected pixel</h1>
			<div>
				<div id="pixel" v-bind:style="{ 'background-color': pixel.colorCSS }">
					<div v-if="pixel.locked" id="lock">
						<!-- Image src: https://www.iconsdb.com/black-icons/lock-icon.html -->
						<img id="lock-icon" src="images/lock.png" alt="Pixel locked">
						<div id="num-locks-box">
							<span id="num-locks">{{pixel.lockText}}</span>
						</div>
					</div>
				</div>
				<div id="pixel-info">
					<div class="info">XY: {{pixel.x}}x{{pixel.y}}</div>
					<div class="info">Color: {{pixel.colorText}}</div>
					<div class="info">Locks: {{pixel.lockText}}</div>
				</div>
			</div>
			<div>
				<button v-on:click="sendLock" :disabled="!actionLimits.canLock" type="button" class="btn btn-primary lock-btn">Add lock (3 AP)</button>
				<div class="error">{{actionLimits.errorLock}}</div>
			</div>
			<div>
				<button v-on:click="sendUnlock" :disabled="!actionLimits.canUnlock" type="button" class="btn btn-primary lock-btn">Break lock (3 AP)</button>
				<div class="error">{{actionLimits.errorUnlock}}</div>
			</div>
			<div id="color-picker">
				<div id="choose-prompt">Choose a new color:</div>
				<v-swatches v-model="color" :swatches="swatches" inline></v-swatches>
			</div>
			<div>
				<button v-on:click="sendChange" :disabled="!actionLimits.canChange" type="button" class="btn btn-primary lock-btn">Change color (1 AP)</button>
				<div class="error">{{actionLimits.errorChange}}</div>
			</div>
		</div>
		<hr>

		<div id="achievements-cont" class="cont">
			<h1>Achievements</h1>
			<button id="myBtn" class="btn btn-primary lock-btn" onclick="OpenAchievement()">View all achievements</button>
		</div>
		<hr>

		<div id="chat-cont" class="cont">
			<h1>Chat</h1>
			<div id="chats">
				<div v-for="chat in chats" class="chat" v-bind:style="{ 'background-color': chat.color }">
					<div class="nick">{{chat.nick}}</div>
					<div class="message">{{chat.message}}</div>
				</div>
			</div>
			<div class="input-line">
				<label for="nick">Nick (optional):</label>
				<span class="input-cont"><input type="text" v-model="newChat.nick" id="nick"></span>
			</div>
			<div class="input-line">
				<label for="message">Message:</label>
				<span class="input-cont"><input type="text" v-model="newChat.message" id="message"></span>
			</div>
			<div>
				<button v-on:click="sendTalk" :disabled="!actionLimits.canTalk" type="button" class="btn btn-primary lock-btn">Send (1 AP)</button>
				<div class="error">{{actionLimits.errorTalk}}</div>
			</div>
			<p>
				(Credits and source code on
				<a href="https://gitlab.com/Alexey_Nigin/pixellations">GitLab</a>)
			</p>
		</div>

		<div id="achievementUnlocked">
			<h1>Achievement Unlocked!</h1>
			<p>{{message}}</p>
		</div>
	</div>

	<div id="achievementPopup" class="popup">

		<!-- popup content -->
		<div class="popup-content">
		  <span class="close" onclick="CloseAchievement()">&times;</span>
		  <ul id="achievementList">
			<li>
				<img src="images/SC1.png" class="achievementPic" id="SC1">
				<div>
					<h1>Spend Crazy I</h1>
					<p>Spend 10 AP</p>
					<p>+1 AP</p>
				</div>
			</li>
			<li>
				<img src="images/SC2.png" class="achievementPic" id="SC2">
				<div>
					<h1>Spend Crazy II</h1>
					<p>Spend 250 AP</p>
					<p>+10 AP</p>
				</div>
			</li>
			<li>
				<img src="images/SC3.png" class="achievementPic" id="SC3">
				<div>
					<h1>Spend Crazy III</h1>
					<p>Spend 1000 AP</p>
					<p>+50 AP</p>
				</div>
			</li>
			<li>
				<img src="images/SC4.png" class="achievementPic" id="SC4">
				<div>
					<h1>Spend Crazy IV</h1>
					<p>Spend 2500 AP</p>
					<p>+100 AP</p>
				</div>
			</li>
			<li>
				<img src="images/SC5.png" class="achievementPic" id="SC5">
				<div>
					<h1>Spend Crazy V</h1>
					<p>Spend 10000 AP</p>
					<p>+250 AP</p>
				</div>
			</li>
			<li>
				<img src="images/PN1.png" class="achievementPic" id="PN1">
				<div>
					<h1>Pixellation Nation I</h1>
					<p>Make a row all one color</p>
					<p>+50 AP</p>
				</div>
			</li>
			<li>
				<img src="images/PN2.png" class="achievementPic" id="PN2">
				<div>
					<h1>Pixellation Nation II</h1>
					<p>Make a column all one color</p>
					<p>+50 AP</p>
				</div>
			</li>
			<li>
				<img src="images/PN3.png" class="achievementPic" id="PN3">
				<div>
					<h1>Pixellation Nation III</h1>
					<p>Make the entire board one color</p>
					<p>+1000 AP</p>
				</div>
			</li>
			<li>
				<img src="images/CC1.png" class="achievementPic" id="CC1">
				<div>
					<h1>Color Crazy I</h1>
					<p>Change colors 10 times</p>
					<p>+1 AP</p>
				</div>
			</li>
			<li>
				<img src="images/CC2.png" class="achievementPic" id="CC2">
				<div>
					<h1>Color Crazy II</h1>
					<p>Change colors 50 times</p>
					<p>+10 AP</p>
				</div>
			</li>
			<li>
				<img src="images/CC3.png" class="achievementPic" id="CC3">
				<div>
					<h1>Color Crazy III</h1>
					<p>Change colors 250 times</p>
					<p>+50 AP</p>
				</div>
			</li>
			<li>
				<img src="images/CC4.png" class="achievementPic" id="CC4">
				<div>
					<h1>Color Crazy IV</h1>
					<p>Change colors 500 times</p>
					<p>+100 AP</p>
				</div>
			</li>
			<li>
				<img src="images/CC5.png" class="achievementPic" id="CC5">
				<div>
					<h1>Color Crazy V</h1>
					<p>Change colors 1000 times</p>
					<p>+250 AP</p>
				</div>
			</li>
			<li>
				<img src="images/CB1.png" class="achievementPic" id="CB1">
				<div>
					<h1>Chatterbox I</h1>
					<p>Send 10 messages</p>
					<p>+1 AP</p>
				</div>
			</li>
			<li>
				<img src="images/CB2.png" class="achievementPic" id="CB2">
				<div>
					<h1>Chatterbox II</h1>
					<p>Send 100 messages</p>
					<p>+10 AP</p>
				</div>
			</li>
			<li>
				<img src="images/CB3.png" class="achievementPic" id="CB3">
				<div>
					<h1>Chatterbox III</h1>
					<p>Send 500 messages</p>
					<p>+50 AP</p>
				</div>
			</li>
			<li>
				<img src="images/CB4.png" class="achievementPic" id="CB4">
				<div>
					<h1>Chatterbox IV</h1>
					<p>Send 1000 messages</p>
					<p>+100 AP</p>
				</div>
			</li>
			<li>
				<img src="images/CB5.png" class="achievementPic" id="CB5">
				<div>
					<h1>Chatterbox V</h1>
					<p>Send 2500 messages</p>
					<p>+250 AP</p>
				</div>
			</li>
			<li>
				<img src="images/AP1.png" class="achievementPic" id="AP1">
				<div>
					<h1>AP Ace I</h1>
					<p>Earn 10 AP</p>
					<p>+1 AP</p>
				</div>
			</li>
			<li>
				<img src="images/AP2.png" class="achievementPic" id="AP2">
				<div>
					<h1>AP Ace II</h1>
					<p>Earn 250 AP</p>
					<p>+10 AP</p>
				</div>
			</li>
			<li>
				<img src="images/AP3.png" class="achievementPic" id="AP3">
				<div>
					<h1>AP Ace III</h1>
					<p>Earn 1000 AP</p>
					<p>+50 AP</p>
				</div>
			</li>
			<li>
				<img src="images/AP4.png" class="achievementPic" id="AP4">
				<div>
					<h1>AP Ace IV</h1>
					<p>Earn 2500 AP</p>
					<p>+100 AP</p>
				</div>
			</li>
			<li>
				<img src="images/AP5.png" class="achievementPic" id="AP5">
				<div>
					<h1>AP Ace V</h1>
					<p>Earn 10000 AP</p>
					<p>+250 AP</p>
				</div>
			</li>
		</ul>
		</div>

	  </div>

</div>
</body>


<script src="scripts/const.js"></script>
<script src="scripts/painter.js"></script>
<script src="scripts/side-bar.js"></script>
