* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, sans-serif;
}

body {
	background-color: #111;
}

#board {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 70%;
	height: 100%;
}

#side-bar {
	position: absolute;
	left: 70%;
	top: 0;
	width: 30%;
	height: 100%;
	padding: 10px;
	overflow: auto;
	background-color: #222;
	color: #eee;
	font-size: 16px;
}

hr {
	margin: 10px 0;
	border-top: 1px solid #eee;
}

.cont {
	margin-bottom: -10px;
	padding: 5px 5px 0 5px;
}

h1 {
	clear: both;
	margin-bottom: 15px;
	font-size: 1.6em;
}

.info {
	font-size: 1.4em;
}

/* ap-cont */

#ap-bar-back {
	margin-bottom: 15px;
	height: 20px;
	overflow: hidden;
	border-radius: 5px;
	background-color: #eee;
}

#ap-bar-front {
	width: 0;
	height: 100%;
	background-color: #07f;
}

#ap-percentage {
	margin-bottom: 15px;
	float: right;
	width: 60px;
	height: 20px;
	line-height: 20px;
	text-align: right;
	font-size: 1em;
}

#ap {
	clear: both;
	margin-bottom: 15px;
	font-size: 1.8em;
}

/* pixel-cont */

#pixel {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px 15px 0;
	width: 100px;
	height: 100px;
	border: 1px solid #eee;
	background-color: #000;
}

#lock {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#lock-icon {
	border-radius: 50%;
	padding: 7px;
	background-color: #000;
}

#num-locks-box {
	margin-top: 5px;
}

#num-locks {
	border-radius: 5px;
	padding: 3px 5px;
	background-color: #000;
	font-size: 1.2em;
	color: #fff;
}

#pixel-info {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 15px;
}

.lock-btn {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 15px 0;
}

.error {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 15px;
	font-size: 1em;
	color: red;
}

#color-picker {
	margin-bottom: 10px;
}

#choose-prompt {
	margin-bottom: 5px;
}

.vue-swatches__wrapper {
	background-color: #222 !important;
}

.vue-swatches__swatch {
	margin: 0 5px 5px 0 !important;
}

/* achievements-cont */

/* chat-cont */

#chats {
	margin-bottom: 15px;
	width: 100%;
	height: 200px;
	border: 1px solid #eee;
	padding: 10px;
	overflow: auto;
}

.chat {
	margin-bottom: 10px;
	width: 100%;
	border-radius: 5px;
	padding: 5px 5px 10px 5px;
	background-color: #0f0;
}

.chat:last-child {
	margin-bottom: 0;
}

.nick {
	margin-bottom: 5px;
	font-size: 0.6em;
	font-weight: bold;
	color: #000;
}

.message {
	line-height: 110%;
	font-size: 1em;
	color: #000;
}

.input-line {
	clear: both;
}

label {
	float: left;
	margin: 0 10px 15px 0;
}

.input-cont {
	display: block;
	margin-bottom: 15px;
	overflow: hidden;
}

input {
	width: 100%;
}

/* experiments */

#zoomIn, #zoomOut{
	position: absolute;
	width: 40px;
	height: auto;
	top: 10px;
	color: red;
	transition: width .3s;
}

#zoomIn {
	left: calc(70% - 60px);
}
#zoomOut {
	left: calc(70% - 110px);
}

#zoomIn:hover, #zoomOut:hover {
	width: 50px;
}

.achievementPic {
	width: 100px;
	height: 100px;
	padding: 5px;
	opacity: .2;
}

#achievementList li {
	float: left;
	position: relative;


}

#achievementList {
	display: inline-block;
	list-style-type: none;
}

.popup {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
  }

  .popup-content {
	background-color: #222;
	margin: auto;
	padding: 20px;
	border: 1px solid #444;
	width: 80%;
  }

  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }

  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

  #achievementList li div {
	  color: black;
	  position: absolute;
	  width: 200px;
	  top: -80px;
	  left: -50px;
	  background-color: rgb(204, 204, 204);
	  border-radius: 10px;
	  text-align: center;
	  padding: 5px;
	  display: none;
  }
  #achievementList li div h1 {
	  font-size: 14px;
  }
  #achievementList li div p {
	font-size: 10px;
	margin-bottom: 0;
}

#achievementList li:hover div {
	display: block;
}
#achievementList li div:hover {
	display: none;
}

#achievementUnlocked {
	position:fixed;
	top: 20px;
	background-color: rgb(204, 204, 204);
	color: black;
	border-radius: 10px;
	text-align: center;
	padding: 5px;
	right: -250px;
	transition: right 1s;
}

#achievementUnlocked h1 {
	font-size: 14px;
}
#achievementUnlocked p {
	font-size: 10px;
}
